.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
}
.title-sidebar {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
}